<article id="post-331" class="post-331 page type-page status-publish has-post-thumbnail hentry">
    <div class="entry-content">
    
    <section 
 id="investmentJumbo" 
 class="
 gradientOverlay
 jumbo-heading 
 curveBottomWhite 
 "
 styleDesktop="background: url('{{ page.backgroundimage }}') no-repeat; background-size:cover; padding-top:0px; padding-bottom:0px;"
 styleLaptop="background: url('{{ page.backgroundimage }}') no-repeat; background-size:cover; padding-top:50px; padding-bottom:50px;"
 style767="background: url('{{ page.backgroundimage }}') no-repeat; background-size:cover;padding-top:0px; padding-bottom:0px; "
><div class="header white"><div class="container"><div class="header-flex"><div class="menu-wrapper"><div class="hamburger-menu"></div></div><div class="logo"> <a href="/"> <img src={{ site.logo }} /></div><div class="mainmenu">
     {% include navbar.html %}
    </div></div></div></div><div class="jumbo-content wow fadeIn"><h1 class="fs52 bold"> Gift A Drone</h1><p class="fs24 mb0"> The Promise To Our Future </p></div></section>
    
    <section class="circle-left 
 imageDownMobile ourMissionEdits	" 
 styleDesktop=" padding-top:60px; padding-bottom:60px; "
 styleLaptop=" padding-top:50px; padding-bottom:50px; "
 style767="padding-top:50px; padding-bottom:80px; "
><div class="container"><div class="circle-flex"><div class="image-with-circle  wow fadeIn"> <img data-lazy="/images/handPhone.jpg"/></div><div class="content-of-circle wow fadeIn"><h2 class="fs40 semibold mb32"> Our Promise</h2><p class="fs20"> Our mission is to have a positive impact on climate change by moving billions of pounds of investments into clean energy and truly green, sustainable companies.  Our platform will provide a simple way to invest into a targeted portfolio of publicly listed companies that are already making an impact in tackling climate change. Sectors covered by Be My_include clean energy, clean technology, sustainable food, smart mobility and recycling.  We have raised £2 million in funding to build and launch the app, and our investors include a venture capital fund backed by the British Business Bank.</p></div></div></div></section>
    
   
        <div id="content">

        <div id="thermometer">

            <div class="track">
                <div class="goal">
                    <div class="amount"> 90000 </div>
                </div>
                <div class="progress">
                    <div class="amount">47835 </div>
                </div>
            </div>

        </div>

    </div>
    
    
  <div class="payment-title">
        <h1>Payment Information</h1>
    </div>
        
        <form action="/" method="post" id="gkmpay">
        <div class="row">
          <div class="span12">
            <p class="payment-errors"></p>
          </div>
        </div>
        <div class="row">
          <div class="span6">
            <legend>Personal Info</legend>
            <div class="control-group">
              <label class="control-label" for="billing-name">Full Name</label>
              <div class="controls">
                <input type="text" class="xlarge" id="billing-name" name="billing-name">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="billing-address">Address</label>
              <div class="controls">
                <input type="text" class="xlarge" id="billing-address" name="billing-address">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="billing-city">City</label>
              <div class="controls">
                <input type="text" class="xlarge" id="billing-city" name="billing-city">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="billing-state">State</label>
              <div class="controls">
                <input type="text" class="xlarge" id="billing-state" name="billing-state">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="billing-code">Postal Code</label>
              <div class="controls">
                <input type="text" class="xlarge" id="billing-code" name="billing-code">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="billing-phone">Phone Number</label>
              <div class="controls">
                <input type="text" class="xlarge" id="billing-phone" name="billing-phone">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="billing-email">Email Address</label>
              <div class="controls">
                <input type="text" class="xlarge" id="billing-email" name="billing-email">
              </div>
            </div>
          </div>
          <div class="span6">
            <legend>Billing Info</legend>
            <div class="control-group">
              <label class="control-label" for="amount">Amount Paying</label>
              <div class="controls">
                <input type="text" class="xlarge" id="amount" name="amount">
                <p class="help-block">Please do not include the dollar sign ($)</p>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="invoice">Invoice Number</label>
              <div class="controls">
                <input type="text" class="xlarge" id="invoice" name="invoice">
                <p class="help-block">Please include the invoice number you are paying against</p>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="ccard">Credit Card Number</label>
              <div class="controls">
                <input type="text" class="xlarge" id="ccard">
                <p class="help-block">We accept Visa, MasterCard, Discover, and Amex.</p>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="card-type">Card Type</label>
              <div class="controls">
                <select id="card-type">
                  <option value="">Select One</option>
                  <option value="visa">Visa</option>
                  <option value="mc">MasterCard</option>
                  <option value="disc">Discover</option>
                  <option value="amex">American Express</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="ccard">Expiration Date MM/YY</label>
              <div class="controls">
                <select id="exp_mm">
                  <option value="">MM</option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
                <select id="exp_yy">
                  <option value="">YY</option>
                  <option value="2020">20</option>
                  <option value="2021">21</option>
                  <option value="2022">22</option>
                  <option value="2023">23</option>
                  <option value="2024">24</option>
                  <option value="2025">25</option>
                  <option value="2026">26</option>
                  <option value="2027">27</option>
                  <option value="2028">28</option>
                  <option value="2029">29</option>
                  <option value="2030">30</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="cccvv">Security Code (CSV/CVV)</label>
              <div class="controls">
                <input type="text" class="xlarge" id="cccvv">
                <p class="help-block">It's usually a three digit number on the back of your card</p>
              </div>
              <div id="card-type"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <div class="form-actions">
              <input type="submit" class="btn btn-primary submit-button" value="Pay!">
            </div>
          </div>
        </div>
      </form>
  
    
    
   
  
    {% include sectionslider.html folder="images/slider" %}
    
  
    
    
    </div></article>