<section id="homepagejumbo" class="jumbo-heading curveBottomSilver" styleDesktop="background: url('') no-repeat; padding-top:0px; padding-bottom:0px;" styleLaptop="background: url('') no-repeat; padding-top:50px; padding-bottom:50px;" style767="background: url('') no-repeat; padding-top:0px; padding-bottom:0px;">
    {% include header13.html %}
<div class="jumbo-content wow fadeIn">
<div class="jumbo-content-content ">
<h1 class="fs52 bold">Protect your property with our drones</h1>
    
<p class="fs24"> Invest in technology to fight crime. From building sites to your home.</p>
<form class="form"><div class="newsletter-flex"> <input type="text" name="email" id="email" placeholder="Your e-mail address"> <button type="submit" class="cl-button bluegreen">Get early access</button></div></form>
<p class="fs24" style="margin-top:48px"> Using Object recognition and Facial Recognition and GPRS. We can help.</p></div></div></section>