
<!doctype html>
<html lang="en-GB">
    {% include head5a.html %}
    {% include bodyclass.html %}
<div id="loader"></div>
<div id="primary" class="content-area">
<main id="main" class="site-main">
    {% include frontpagearticle.html %}
    </main></div>
    {% include newsletter.html %}
    {% include foot6.html %}
    {% include scripts5b.html %}
    </body>
 {% include cookielaw.html %}   
<!--autoptimize_single_1ecda4b4ef9d95cb6a1c6850483cf472.js-->
{% include scripts5a.html %}
{% include foot5.html %}
</html>